# MANAGED BY LH8-SCRIPTS START
.env
.sql
*.sql
**/*.sql
.pgsql
*.pgsql
**/*.pgsql
.psql
*.psql
**/*.psql
.sqlite
*.sqlite
**/*.sqlite
!**/raw_sql/*.sql
!**/raw_sql/*.psql
!**/raw_sql/*.pgsql
!**/raw_sql/*.sqlite
# MANAGED BY LH8-SCRIPTS END

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof